# VS Code
.vscode/

# Objetos y binarios de kernel
*.o
*.ko
*.mod
*.mod.c
*.mod.o
Module.symvers
modules.order
.tmp_versions/

# Archivos .cmd del build de kernel
*.cmd

# Binarios compilados de userspace
userspace/chardev_test
userspace/chardev_concurrent
